<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Baca_Analizorleri_Kontrolu.Properties.Settings.DBElektrikDepartmaniConnectionString"
            connectionString="Data Source=DESKTOP-A4E0SUU\ZYDB;Initial Catalog=DBElektrikDepartmani;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>